<div *ngIf="!isSuccess">
  <loading-indicator [isVisible]="(loading | async)" class="overlay"></loading-indicator>
  <h1 style="color:#211a36!important;">Verification Code</h1>
  <form autocomplete="off" [formGroup]="form" class="mt-3" (ngSubmit)="validateCard()" style="background:none">



      <div class="alertWarning" *ngIf="data.chargeResponseMessage" role="alert">
        <strong>{{data.chargeResponseMessage}}</strong>
        <br>
      </div>

 

      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Enter verification code(opt or pin):</mat-label>
        <input matInput formControlName="opt" style="width:100%;color:black!important;" placeholder="Enter verification code(opt or pin)">

      </mat-form-field>

      <mat-error *ngIf="opt.invalid && (opt.dirty || opt.touched)">

        Verification code(opt) <strong>required</strong>,
        only numeric allowed and should be equal to 5 numeric,


      </mat-error>
      
      <mat-error *ngIf="message.error"
      style="background:none">
      {{message.message}}
    </mat-error>


      <mat-card-actions style="background:none">
        <button type="submit"  style="width:100%" class="button-default button--secondary"
        [disabled]="(loading | async)">
        <span trans>Proceed</span>
      </button>
      </mat-card-actions>


  </form>


</div>





<div *ngIf="isSuccess">
  <paid-success></paid-success>
</div>
